:root{
    --menu-border-color: #4895EF;
    --background-color: #ffffff71;
    --text-color: rgb(255, 255, 255);
    --active: #d62828;
    --menu-text-color: #f72585;
    --menu-text-hover-color: #4cc9f0;
    --button-background-color: #ff80ba;
    --button-background-color-hover: #8dafff;
    --text-font-title: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --background-black: rgb(35, 33, 37);
    --color-pink:   #ed4f8a;
    --text-font-basic: "Open Sans";
    --border-default: 3%;
    
}

/*
@media (prefers-color-scheme: dark){
    :root{
        --menu-border-color: #ebb2ff;
        --bakground-color: #051739;
        --text-color: white;
        --active: #f77f00;
        --menu-text-color: #ff6cf3;
        --menu-text-hover-color: #83d0ff;
        --button-background-color: #427bfe;
        --button-background-color-hover: #c865f9ff;
    }
}
*/

body, html, #root{
    min-height: 100vh;
}

.App{
    height: 100%;
    background-color: black;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

main{
    flex: 1;
    padding: 14px;
}

footer {
    background-color: var(--background-black);
    padding: 10px;
    text-align: center;
    
}